@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft_Magenta: hsl(300, 69%, 71%);
  --Font-Heading: 'Poppins', sans-serif;
  --Font-Body: 'Open Sans', sans-serif;
}

body {
  font-family: var(--Font-Body);
  font-size: 16px;
  background-color: var(--Violet);
  padding: 1.25rem;
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  
}

img {
  max-width: 100%;
}

header {
  margin-bottom: 5rem;
  width: 200px;
}

article {
  color: #fff;
  text-align: center;
}

article h1 {
  font-family: var(--Font-Heading);
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

article p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
  padding: 0 4rem;
  opacity: 0.8;
}

article button {
  background-color: #fff;
  color: var(--Violet);
  font-family: inherit;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 6rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}

article button:hover {
  background-color: var(--Soft_Magenta);
  color: #fff;
  box-shadow: 0 0 0 0.25rem var(--Soft_Magenta);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 4rem;
}

.social-icons ion-icon {
  font-size: 1.2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-icons ion-icon:hover {
  color: var(--Soft_Magenta);
  border-color: var(--Soft_Magenta);
}

@media all and (min-width:895px) {
  body {
    background-image: url(/images/bg-desktop.svg);
    background-position: left;
  }

  article {
    text-align: left;
  }

  .content {
    align-items: flex-start;
  }  

  article p {
    padding-left: 0;
  }
}


@media all and (min-width: 1440px)
{
  body {
   padding: 2rem 4rem;
  }

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  article .hero {
    width: 100%;
  }

  article .hero img {
    width: 100%;
  }

  article .content {
    text-align: left;
    align-self: flex-start;
  }

  article h1 {
    font-size: 3rem;
  }

  article p {
    padding: 0 0;
    font-size: 1.25rem; 
  }

  article button {
    padding: 1rem 5rem;
    font-size: 1.1rem;
  }

  .social-icons {
    justify-content: flex-end;
  }
}

